---
layout: post
title: "LifeSaver 2"
author: "F-Droid"
---

<div class="post-entry">
<p>LifeSaver 2 is a simple but very useful app that backs up your call log and SMS messages to your SD card, and allows you to restore them later. This is useful for general everyday backups, as a means of exporting this data in an easy format for use elsewhere, and also (the intended usage) if you’re changing your phone, or wiping and reinstalling the OS.</p>
<p><span id="more-84"></span></p>
<p>For my utilitarian tastes, the whole thing is visually a bit too jazzy – I’d rather have the extra free space on the phone and more functionality on the screen than those giant images and animations, but plenty of people like things this way I suppose, and I must admit it does <a href="http://www.tbray.org/ongoing/When/201x/2010/04/25/LifeSaver-Lessons">look slick</a>. I forgive it the eye-candy-bloat because it gets the job done quickly and without any fuss.</p>
<p>Once you’ve “Saved your life” the information will be in a directory called LifeSaver-F on the SD card, in two files called MessageLog and CallLog. Both of these are text files, starting with a count of the number of entries, and then a simple JSON-encoded chunk of data for each one. This makes it easy to use this data elsewhere once you have it saved.</p>
<p>One amusing point of interest – it’s not called LifeSaver 2 because it’s a big upgrade or improvement over the original LiveSaver. In fact, the developer lost the app signing key for the original, so had to publish it as a whole new app. (Android won’t upgrade an application in place if it’s signed with a different key to the existing installed one, so to not do this would have broken the upgrade path for all existing users). I find the loss of the key particularly funny given the saving-things nature of the application, but it’s a lesson for all application developers and who better to provide it than Google’s own Developer Advocate?</p>
<h3>Vital Statistics</h3>
<p><img alt="market://search?q=pname:com.textuality.lifesaver2" class="alignright size-full wp-image-85" height="120" src="https://f-droid.org/wp-content/uploads/2010/10/lifesaver2-qr.png" title="LiveSaver2 Market QR Code" width="120"/></p>
<ul>
<li>License: Apache 2.0</li>
<li>Developer: <a href="http://en.wikipedia.org/wiki/Tim_Bray">Tim Bray</a></li>
<li>Source Code: <a href="http://code.google.com/p/lifesaver/">http://code.google.com/p/lifesaver/</a></li>
<li>Web Site: <a href="http://www.tbray.org/ongoing/When/201x/2010/04/25/LifeSaver-Lessons">Tim’s original blog post</a>
</li><li>Issue Tracker: <a href="http://code.google.com/p/lifesaver/issues/list">http://code.google.com/p/lifesaver/issues/list</a></li>
</ul>
</div>