---
layout: post
title: "MathDoku"
author: "F-Droid"
---

<div class="post-entry">
<p><a href="https://f-droid.org/wp-content/uploads/2010/10/mathdoku.png"><img alt="" class="alignright size-medium wp-image-241" height="300" sizes="(max-width: 200px) 100vw, 200px" src="https://f-droid.org/wp-content/uploads/2010/10/mathdoku-200x300.png" srcset="https://f-droid.org/wp-content/uploads/2010/10/mathdoku-200x300.png 200w, https://f-droid.org/wp-content/uploads/2010/10/mathdoku-100x150.png 100w, https://f-droid.org/wp-content/uploads/2010/10/mathdoku.png 320w" title="MathDoku" width="200"/></a></p>
<p>I’ll start by saying that I hate Sudoku, it always struck me as very tedious, and I’ve never heard of KenKen, the variation on which this game is apparently based. In case you’re clueless too, it’s like Sudoku but bits of the grid are boxed off and have to ‘solve’ the simple arithmetical puzzle for that box. If that doesn’t make sense, look at the screenshot – the three squares at the bottom right are boxed off and have to add up to twelve. </p>
<p>On a 4×4 grid, the smallest you can have, it’s pretty easy. You can choose any size from there up to 8×8, which is, let’s just say slightly tricky.</p>
<p><span id="more-240"></span></p>
<p>A nice little feature is that you can mark squares as being ‘maybe’ one of several numbers. Again, look at the screenshot – I decided the two squares in the top right were maybe 1 or 2, so marked that in to remember later. That might seem a bit unnecessary until you get to the larger grid sizes, then it’s probably essential.</p>
<p>Everything looks good and works properly, so whether this game is for you or not really comes down to whether you like this kind of thing or not. Having said that, I claim not to like this kind of thing, but I’m still playing and enjoying the game.</p>
<h3>Vital Statistics</h3>
<p><a href="market://search?q=pname:net.cactii.mathdoku"><img alt="market://search?q=pname:net.cactii.mathdoku" class="alignright size-full wp-image-242" height="120" src="https://f-droid.org/wp-content/uploads/2010/10/mathdoku_qr.png" title="MathDoku Market QR Code" width="120"/></a></p>
<ul>
<li>License: GPL v3</li>
<li>Developer: Ben Buxton</li>
<li>Web Site: <a href="http://code.google.com/p/mathdoku/">http://code.google.com/p/mathdoku/</a></li>
</ul>
</div>