---
layout: post
title: "MythMote"
author: "F-Droid"
---

<div class="post-entry">
<p><a href="https://f-droid.org/wp-content/uploads/2010/09/mythmote1.png"><img alt="" class="alignright size-medium wp-image-99" height="300" sizes="(max-width: 200px) 100vw, 200px" src="https://f-droid.org/wp-content/uploads/2010/09/mythmote1-200x300.png" srcset="https://f-droid.org/wp-content/uploads/2010/09/mythmote1-200x300.png 200w, https://f-droid.org/wp-content/uploads/2010/09/mythmote1-100x150.png 100w, https://f-droid.org/wp-content/uploads/2010/09/mythmote1.png 320w" title="mythmote1" width="200"/></a></p>
<p>If you use <a href="http://www.mythtv.org/">MythTV</a> (and if not, why not?) then you need MythMote. It’s a remote control that communicates with all your MythTV front ends over the network. Why is this better than a normal remote? Just some of the many reasons:</p>
<ul>
<li>The interface is better</li>
<li>No infra-red – the dog can’t sit in the way</li>
<li>The same device works in every room</li>
<li>No infra-red – you don’t have to point it</li>
<li>You always have it with you</li>
<li>No infra-red – you don’t even have to be in the same room</li>
<li>Everyone can have their own remote</li>
</ul>
<p>To use MythMote, you need to tick the ‘Enable Network Remote Control Interface’ in the MythTV frontend setup, for each frontend you intend to use it with. You also need network access to these machines, which normally means using WiFi on the Android end. In theory, you could use cell data by exposing a port for each frontend at the edge of your LAN, and routing them to the appropriate machines, but I don’t know if I’d consider it safe to do that.</p>
<p><span id="more-34"></span></p>
<p><a href="https://f-droid.org/wp-content/uploads/2010/09/mythmote2.png"><img alt="" class="alignright size-medium wp-image-100" height="300" sizes="(max-width: 200px) 100vw, 200px" src="https://f-droid.org/wp-content/uploads/2010/09/mythmote2-200x300.png" srcset="https://f-droid.org/wp-content/uploads/2010/09/mythmote2-200x300.png 200w, https://f-droid.org/wp-content/uploads/2010/09/mythmote2-100x150.png 100w, https://f-droid.org/wp-content/uploads/2010/09/mythmote2.png 320w" title="mythmote2" width="200"/></a></p>
<p>Once you’re all set up, you just need to select the appropriate frontend (‘location’) from your list in MythMote and it’s connected almost instantly. You then have three tabs, with lots of on-screen buttons, plus the ability to send keyboard input – useful for searches, for example. Not every function you’d ever want is available, but most of the everyday ones are. An example of something that’s not there, unless I’m missing something, is that you can’t delete a recording. Actually, you can, by sending a ‘d’ as keyboard input, but that’s not something you’re going to want to have to do very much.</p>
<p>A great addition to a future release would be the ability to configure the layout, adding different functions and removing unused ones. In the meantime, of course, you could always tinker with the source if you really needed to.</p>
<p></p><h3>Vital Statistics</h3>
<p><img alt="market://search?q=pname:tkj.android.homecontrol.mythmote" class="alignright size-full wp-image-121" height="120" src="https://f-droid.org/wp-content/uploads/2010/09/mythmote-qr.png" title="MythMote Market QR Code" width="120"/></p>
<ul>
<li>License: GPL v2</li>
<li>Web Site: <a href="http://code.google.com/p/mythmote/">http://code.google.com/p/mythmote/</a></li>
<li>Issue Tracker: <a href="http://code.google.com/p/mythmote/issues/list">http://code.google.com/p/mythmote/issues/list</a></li>
</ul>
</div>