---
layout: post
title: "FBReader"
author: "F-Droid"
---

<div class="post-entry">
<p><a href="https://f-droid.org/wp-content/uploads/2010/09/fbreader2.png"><img alt="" class="alignright size-medium wp-image-165" height="300" sizes="(max-width: 200px) 100vw, 200px" src="https://f-droid.org/wp-content/uploads/2010/09/fbreader2-200x300.png" srcset="https://f-droid.org/wp-content/uploads/2010/09/fbreader2-200x300.png 200w, https://f-droid.org/wp-content/uploads/2010/09/fbreader2-100x150.png 100w, https://f-droid.org/wp-content/uploads/2010/09/fbreader2.png 320w" title="FBReader Catalog List" width="200"/></a></p>
<p>Yesterday we looked at <a href="../book-catalogue/index.html">real books</a> so today it’s the turn of e-books. FBReader is an e-book reader based on the desktop application of the same name.</p>
<p>Although it’s currently at what sounds like a lowly version 0.7, the reading interface is slick and flawless. You have full control of the fonts and colours used – double control, in fact, because there is a day mode and a night mode, each of which retain their individual settings. Navigation between pages can be done by swiping the screen, but the more sensible option is using the volume buttons. For broader navigation, you can access the table of contents or set and jump between bookmarks.</p>
<p>When you come back to FBReader it immediately resumes exactly where you left off, and also remembers your place in any other books you’ve had open.</p>
<p><span id="more-22"></span></p>
<p>The only e-book formats supported currently in the Android version are <a href="http://en.wikipedia.org/wiki/EPUB">EPUB</a> (and its predecessor Open eBook) and <a href="http://en.wikipedia.org/wiki/FictionBook">FictionBook</a>. These have been good enough for my purposes so far, but a few other formats are supported in the desktop versions and there are plans to port these over. Notably missing, and this is a plus point as far as I’m concerned, is any kind of support for DRM.</p>
<p>Book files placed in the Books directory of the SD card will be automatically available, but the built in ‘Network Library’ allows you to search and download easily from multiple sources. Any source that provides information in OPDS (an extension of Atom) is supported, and a number are preloaded into the application. OPDS and FBReader allow for both free and paid books, but it seems like for a paid book you have to leave the FBReader interface and conduct the transaction via the web browser. This is not something I’ve had to do yet, as there are so many books I want to read in the public domain. I suspect from what I’ve seen though, that in most cases it would be easier to buy them on a ‘real computer’ and stick them on the SD card.</p>
<p><a href="https://f-droid.org/wp-content/uploads/2010/09/fbreader1.png"><img alt="" class="aligncenter size-medium wp-image-166" height="200" sizes="(max-width: 300px) 100vw, 300px" src="https://f-droid.org/wp-content/uploads/2010/09/fbreader1-300x200.png" srcset="https://f-droid.org/wp-content/uploads/2010/09/fbreader1-300x200.png 300w, https://f-droid.org/wp-content/uploads/2010/09/fbreader1-150x100.png 150w, https://f-droid.org/wp-content/uploads/2010/09/fbreader1.png 480w" title="FBReader reading" width="300"/></a></p>
<p>I’ve never really bothered with e-books before, much preferring the paper versions, but I’ve been using FBReader for a while and have found the whole experience to be a lot better than I expected. Before writing this review I intended to try out the much talked about Kindle app, just to compare the reading interface (although I don’t see how it could be better than FBReader’s). However, it wanted my credit card details before I even started. It’s hard, with e-books, not to keep making comparisons with ‘the real thing’, so in other words they wanted my credit card details at the door, before I walked in to their book shop and got to see if anything was worth buying. I thought this was a bit rude, as you would, and headed back out into the street. I was quite pleased to be let of the hook really though, as I could see through the window that there was DRM going on inside. The more distance I keep from that kind of thing, the better I feel. FBReader will do nicely for me.</p>
<h3>Vital Statistics</h3>
<p><img alt="market://search?q=pname:org.geometerplus.zlibrary.ui.android" class="alignright size-full wp-image-164" height="120" src="https://f-droid.org/wp-content/uploads/2010/09/fbreader-qr.png" title="FBReader Market QR Code" width="120"/></p>
<ul>
<li>License: GPL v2+</li>
<li>Web Site: <a href="http://www.fbreader.org/FBReaderJ/">http://www.fbreader.org/FBReaderJ/</a></li>
<li>Source Code: <a href="http://github.com/geometer/FBReaderJ">http://github.com/geometer/FBReaderJ/</a></li>
</ul>
</div>