---
layout: post
title: "Beem"
author: "F-Droid"
---

<div class="post-entry">
<p><a href="https://f-droid.org/wp-content/uploads/2010/09/beem-settings.png"><img alt="Settings Screen" class="alignright size-medium wp-image-134" height="300" sizes="(max-width: 200px) 100vw, 200px" src="https://f-droid.org/wp-content/uploads/2010/09/beem-settings-200x300.png" srcset="https://f-droid.org/wp-content/uploads/2010/09/beem-settings-200x300.png 200w, https://f-droid.org/wp-content/uploads/2010/09/beem-settings-100x150.png 100w, https://f-droid.org/wp-content/uploads/2010/09/beem-settings.png 320w" title="Beem Settings Screen" width="200"/></a></p>
<p>Beem is an XMPP client which, as yet, offers a fairly basic range of options but is under active development. There are a few quirks that mean it’s probably not quite ready for prime time yet, most notably the fact that it doesn’t always handle disconnections very well.</p>
<p>One of the biggest limitations currently is that you can only configure a single XMPP account. Ideally I’d like to be able to have several, which I could enable and disable individually.</p>
<p>Another problem, for those with small screens and no physical keyboard, is that due to the way the chat output is formatted, you’re not left with much room for reading once the virtual keyboard has taken its share of the display.</p>
<p>Despite these problems, it’s a good enough client for my purposes. There may be better options (what do <i>you</i> use?), but as far as I’m aware not that I can get the source code for – a feature I rate very highly.</p>
<p>Depending on whether you use XMPP heavily from your Android device, Beem may or may not be the client for you, but even if it’s not it’s worth keeping an eye on because it’s improving all the time.</p>
<h3>Vital Statistics</h3>
<p><img alt="market://search?q=pname:com.beem.project.beem" class="alignright size-full wp-image-132" height="120" src="https://f-droid.org/wp-content/uploads/2010/09/beem-qr.png" title="Beem Market QR Code" width="120"/></p>
<ul>
<li>License: GPL v3</li>
<li>Web Site: <a href="http://www.beem-project.com/projects/beem">http://www.beem-project.com/projects/beem</a></li>
</ul>
</div>