---
layout: post
title: "ConnectBot"
author: "F-Droid"
---

<div class="post-entry">
<p><a href="https://f-droid.org/wp-content/uploads/2010/09/connectbot.png"><img alt="" class="alignright size-medium wp-image-298" height="300" sizes="(max-width: 200px) 100vw, 200px" src="https://f-droid.org/wp-content/uploads/2010/09/connectbot-200x300.png" srcset="https://f-droid.org/wp-content/uploads/2010/09/connectbot-200x300.png 200w, https://f-droid.org/wp-content/uploads/2010/09/connectbot-100x150.png 100w, https://f-droid.org/wp-content/uploads/2010/09/connectbot.png 320w" title="connectbot" width="200"/></a></p>
<p>ConnectBot is an essential tool for the sysadmin on the move, or the stationary sysadmin on the beach. It’s a fully functional SSH client packed with useful features, including:</p>
<ul>
<li>Multiple concurrent connections that stay open in the background</li>
<li>Port forwarding</li>
<li>Key management, for password-less logins</li>
</ul>
<p>A clever feature is ‘URL Scan’ which grabs anything that looks like a URL from the terminal and presents a list where you can click to open it in the browser.</p>
<p>Ideally you’d use this with a physical keyboard, both for speed and screen space reasons. Even so, it’s perfectly usable with a virtual keyboard and there are plenty of customisable features to make life easier in that scenario.</p>
<p>ConnectBot is extremely useful to have around, especially in an emergency, and is actively developed. Highly recommended.</p>
<h3>Vital Statistics</h3>
<ul>
<li>License:Apache2</li>
<li>Web Site:<a href="http://code.google.com/p/connectbot/">http://code.google.com/p/connectbot/</a></li>
<li>Source Code:<a href="http://github.com/kruton/connectbot/">http://github.com/kruton/connectbot/</a></li>
<li>Issue Tracker:<a href="http://code.google.com/p/connectbot/issues/list">http://code.google.com/p/connectbot/issues/list</a></li>
</ul>
</div>