---
layout: post
title: "K-9 Mail"
author: "F-Droid"
---

<div class="post-entry">
<p><img alt="Yes, master!" class="alignright size-full wp-image-14" height="48" src="https://f-droid.org/wp-content/uploads/2010/09/k-9-logo.png" title="K-9 Mail Logo" width="48"/>Everyone needs an email client, and unfortunately the stock Android client is very poor indeed – presumably because most of the development focus was on the GMail app. Luckily for those that don’t use GMail, or use other accounts too, the developers of K-9 Mail came to the rescue with what must be the best mobile mail client around.</p>
<p><span id="more-7"></span></p>
<p>K-9 deals easily with multiple accounts, of both POP and IMAP varieties, and Push IMAP is supported too. With this, notifications of incoming mail are instant, via the standard Android notification bar.</p>
<p>The support for dealing with large volumes of mail, one of the many shortcomings of the stock Email app, is excellent. Multiple selections are easy to use, as are multiple folders and combined virtual folders for multiple accounts.</p>
<p>Other useful features are encryption and signing, in conjunction with <a href="http://www.thialfihar.org/projects/apg/">APG</a> (I’ll cover that in a later review) and Microsoft Exchange integration, which I haven’t tried.</p>
<p>The ability to customise almost everything via the settings pages, both globally and on a per-account basis, is fantastic too. I’d almost suggest that if you can’t get K-9 to behave how you want it to, the problem is you, not the software. Even then, of course, the source is available!</p>
<p>My only real problem, ever, came when one of those nasty ‘Sent from  my…’ default signatures sneaked into an upgrade without any warning,  but even that was easy enough to disable.</p>
<p>K-9 is a mature, high quality and actively developed app which I use every day. Highly recommended.</p>
<h3>Vital Statistics</h3>
<p><a href="market://serach?q=pname:com.fsck.k9"><img alt="market://serach?q=pname:com.fsck.k9" class="alignright size-full wp-image-304" height="120" src="https://f-droid.org/wp-content/uploads/2010/09/k9_qr2.png" title="K9 Market QR Code" width="120"/></a></p>
<ul>
<li>License: Apache 2.0</li>
<li>Web Site: <a href="http://code.google.com/p/k9mail/">http://code.google.com/p/k9mail/</a></li>
<li>Issue Tracker: <a href="http://code.google.com/p/k9mail/issues/list">http://code.google.com/p/k9mail/issues/list</a></li>
</ul>
<p>Available in the Android Market (scan/click the QR code opposite) or, of course, via the <a href="../f-droid-repository-alpha/index.html">FDroid repository</a>.</p>
</div>