---
layout: post
title: "NetCounter"
author: "F-Droid"
---

<div class="post-entry">
<p><a href="https://f-droid.org/wp-content/uploads/2010/09/netcounter.png"><img alt="" class="alignright size-medium wp-image-199" height="300" sizes="(max-width: 200px) 100vw, 200px" src="https://f-droid.org/wp-content/uploads/2010/09/netcounter-200x300.png" srcset="https://f-droid.org/wp-content/uploads/2010/09/netcounter-200x300.png 200w, https://f-droid.org/wp-content/uploads/2010/09/netcounter-100x150.png 100w, https://f-droid.org/wp-content/uploads/2010/09/netcounter.png 320w" title="NetCounter" width="200"/></a></p>
<p>NetCounter is a simple but effective application to keep track of your data usage. It counts cell and wi-fi data separately and displays a summary of both in an easy to read format. You can see the total used ever, and the amount used in the current calendar month, as well as figures for today and the last 7 days.</p>
<p>If you want to get fancy, you can long click on the interfaces and items in the display to get pretty graphs, add new counters – maybe you want the last 14 days, for example. You can also set up alerts on any of these counters, so if you’ve got a monthly cell data allowance, you can get a notification when you’re getting close to it.</p>
<p><span id="more-30"></span></p>
<p>You can also export the data to the SD card, and import it again, which is handy if you’re changing phones or wiping for an upgrade. It also means you can take the data elsewhere to analyse in more detail.</p>
<p>NetCounter is an essential tool if you need to keep an eye on your bandwidth usage due to carrier limits or charges, and even if you don’t it’s nice to have around just out of interest.</p>
<h3>Vital Statistics</h3>
<p><a href="market://search?q=pname:net.jaqpot.netcounter"><img alt="market://search?q=pname:net.jaqpot.netcounter" class="alignright size-full wp-image-206" height="120" src="https://f-droid.org/wp-content/uploads/2010/09/netcounter_qr.png" title="NetCounter Market QR Code" width="120"/></a></p>
<ul>
<li>License: GPL v3</li>
<li>Developer: Cyril Jaquier</li>
<li>Web Site: <a href="http://www.jaqpot.net/netcounter">http://www.jaqpot.net/netcounter</a></li>
</ul>
</div>