---
layout: post
title: "Missile Intercept"
author: "F-Droid"
---

<div class="post-entry">
<p><a href="https://f-droid.org/wp-content/uploads/2010/10/missile2.png"><img alt="" class="alignright size-medium wp-image-279" height="300" sizes="(max-width: 200px) 100vw, 200px" src="https://f-droid.org/wp-content/uploads/2010/10/missile2-200x300.png" srcset="https://f-droid.org/wp-content/uploads/2010/10/missile2-200x300.png 200w, https://f-droid.org/wp-content/uploads/2010/10/missile2-100x150.png 100w, https://f-droid.org/wp-content/uploads/2010/10/missile2.png 320w" title="Missile Intercept" width="200"/></a></p>
<p>Missile Intercept is a game modelled on the classic Missile Command, complete with retro-style graphics. You’re defending three cities at the bottom of the screen from destruction by incoming enemy missiles.</p>
<p>The gameplay changes somewhat due to the touch screen interface, because you aim your counter-missiles by simply touching the appropriate point on the screen – no need to manoeuvre a crosshair around. In addition to this though, are two non-standard things – your counter-missiles explode immediately where you target them, which means you don’t need to account for the time they take to get there, and also you seem to have a virtually unlimited supply.</p>
<p><span id="more-276"></span></p>
<p>These differences all conspire to make it a bit to easy and thoughtless – until you get a long way in, you can almost get away with poking away madly at the screen. I definitely think the game would benefit from a limited supply, launched properly from launchers.</p>
<p>Despite those gameplay grumbles, I’d still recommend this for a bit of retro action fun. If nothing else, you get a trip back in time to the days when you knew governments and their war machines were the enemy of sane people. In a modern version, you’d be fighting off a horde of (mostly) imaginary terrorists, while somewhere off screen the real enemy (same as in the original) used the imaginary terrorists as an excuse for all kinds of nefarious activities. The retro version is definitely more fun.</p>
<h3>Vital Statistics</h3>
<ul>
<li>License:GPLv3</li>
<li>Web Site:<a href="http://www.kirit.com/Missile%20intercept">http://www.kirit.com/Missile%20intercept</a></li>
<li>Issue Tracker: <a href="http://support.felspar.com/Project:/Missile%20intercept">http://support.felspar.com/Project:/Missile%20intercept</a></li>
</ul>
</div>