---
layout: post
title: "Permissions"
author: "F-Droid"
---

<div class="post-entry">
<p>Following on from <a href="https://f-droid.org/posts/no-free-beer/">yesterday’s article</a> about app permissions, here’s some more practical help in the form of an app that lets you review the permissions you’ve granted to everything that’s currently installed.</p>
<p><a href="https://f-droid.org/wp-content/uploads/2010/10/permissions1.png"><img alt="" class="alignright size-medium wp-image-62" height="300" sizes="(max-width: 200px) 100vw, 200px" src="https://f-droid.org/wp-content/uploads/2010/10/permissions1-200x300.png" srcset="https://f-droid.org/wp-content/uploads/2010/10/permissions1-200x300.png 200w, https://f-droid.org/wp-content/uploads/2010/10/permissions1-100x150.png 100w, https://f-droid.org/wp-content/uploads/2010/10/permissions1.png 320w" title="The permissions list" width="200"/></a></p>
<p>The imaginatively titled Permissions shows all the available permissions on your phone in a big list, with those it considers dangerous highlighted in orange. Each entry also has a description of what it allows an app to do, and how that might affect you. For example, for the “coarse (network-based) location” permission, you’re told <i>“Access coarse location sources such as the cellular network database to determine an approximate phone location, where available. Malicious applications can use this to determine approximately where you are.”</i> It might seem like stating the obvious in this case, but for some of the more obscure permissions the description is essential.</p>
<p>The main purpose of the app is not just a list though – you can expand any of the entries in the list to see what applications are using that particular permission. This allows you to spot things you may have let slip through your defences when you first installed them, like the proverbial Fart App that strangely requires access to your contacts and the internet to make its amusing noises.</p>
<p><span id="more-61"></span></p>
<p> <a href="https://f-droid.org/wp-content/uploads/2010/10/permissions2.png"><img alt="" class="alignleft size-medium wp-image-67" height="300" sizes="(max-width: 200px) 100vw, 200px" src="https://f-droid.org/wp-content/uploads/2010/10/permissions2-200x300.png" srcset="https://f-droid.org/wp-content/uploads/2010/10/permissions2-200x300.png 200w, https://f-droid.org/wp-content/uploads/2010/10/permissions2-100x150.png 100w, https://f-droid.org/wp-content/uploads/2010/10/permissions2.png 320w" title="An expanded entry" width="200"/></a></p>
<p>Selecting one of the applications in the expanded list takes you to the standard Android Application Info screen, where you can see all the information about how much storage the application is using and whether it’s running or not. If it’s running, you can force it to stop, and you can also easily uninstall it from here in one click. You can see the full list of permissions too, in the same format as it’s given in when you have to accept them before installing. Effectively Permissions presents this information in reverse, for all your apps at once.</p>
<p>Permissions is a very useful app for reviewing who you’ve allowed to do what on your phone, and for learning some details of the Android permissions structure. As a tool for the casual user to do a quick security audit on their phone though, it’s a bit too detailed. One improvement in that direction might be to make the default mode a) show only ‘important’ permissions – perhaps those the app already highlights in orange, and b) show only user-installed apps, and leave out the system apps. A menu item could allow switching between this and the current full detail mode.</p>
<p><img alt="" class="alignright size-full wp-image-70" height="125" src="https://f-droid.org/wp-content/uploads/2010/10/permissions-qr1.png" title="Permissions Market QR Code" width="125"/></p>
<h3>Vital Statistics</h3>
<ul>
<li>License: Apache 2.0</li>
<li>Developer: Christian Mehlmauer</li>
<li>Web Site: <a href="http://code.google.com/p/androidpermissions/">http://code.google.com/p/androidpermissions/</a></li>
<li>Issue Tracker: <a href="http://code.google.com/p/androidpermissions/issues/list">http://code.google.com/p/androidpermissions/issues/list</a></li>
</ul>
</div>