---
layout: post
title: "Book Catalogue"
author: "F-Droid"
---

<div class="post-entry">
<p><a href="https://f-droid.org/wp-content/uploads/2010/09/bookcat1.png"><img alt="" class="alignright size-medium wp-image-143" height="300" sizes="(max-width: 200px) 100vw, 200px" src="https://f-droid.org/wp-content/uploads/2010/09/bookcat1-200x300.png" srcset="https://f-droid.org/wp-content/uploads/2010/09/bookcat1-200x300.png 200w, https://f-droid.org/wp-content/uploads/2010/09/bookcat1-100x150.png 100w, https://f-droid.org/wp-content/uploads/2010/09/bookcat1.png 320w" title="bookcat1" width="200"/></a></p>
<p>It’s hard to know how to start a review of an application with a name so descriptive you know exactly what it is from the title. The standard cliche doesn’t work – Book Catalogue is a book catalogue application. Can’t write that. Somehow we seem to have got started though, so let’s move on.</p>
<p>More specifically, this is an application for building and maintaining an database of all your books – the old kind, made out of paper, rather than those new-fangled e-book things. There are three ways of adding a book, as follows:</p>
<p>If you have the excellent ZXing Barcode Scanner (review coming soon) installed, Book Catalogue will use that to let you scan the barcode directly. It then looks up all the details of the book, grabs a thumbnail of the cover if it can, leaving you to just fill in details like notes and location.</p>
<p><span id="more-23"></span></p>
<p><a href="https://f-droid.org/wp-content/uploads/2010/09/bookcat2.png"><img alt="" class="alignleft size-medium wp-image-144" height="300" sizes="(max-width: 200px) 100vw, 200px" src="https://f-droid.org/wp-content/uploads/2010/09/bookcat2-200x300.png" srcset="https://f-droid.org/wp-content/uploads/2010/09/bookcat2-200x300.png 200w, https://f-droid.org/wp-content/uploads/2010/09/bookcat2-100x150.png 100w, https://f-droid.org/wp-content/uploads/2010/09/bookcat2.png 320w" title="bookcat2" width="200"/></a></p>
<p>Sometimes the book is too old to have a barcode, or it’s too dark to scan it, or for no apparent reason it just won’t scan. The last one is rare, thankfully. Then you’re on to method 2, which is to find and type in the ISBN, at which point everything carries on just as if you’d scanned it. You do have to be careful, and this applies to scanning as well, that the data you get back is what you expected. It’s not unheard of for a book to have completely the wrong ISBN on it – out of a couple of hundred I’ve done so far, two or three have been like this.</p>
<p>Finally, there is the evil third category of book – no barcode, no ISBN. For these you have to type the information in yourself, which starts you wondering why you’re doing this in the first place, if you weren’t already.</p>
<p><a href="https://f-droid.org/wp-content/uploads/2010/09/bookcat3.png"><img alt="" class="alignright size-medium wp-image-145" height="300" sizes="(max-width: 200px) 100vw, 200px" src="https://f-droid.org/wp-content/uploads/2010/09/bookcat3-200x300.png" srcset="https://f-droid.org/wp-content/uploads/2010/09/bookcat3-200x300.png 200w, https://f-droid.org/wp-content/uploads/2010/09/bookcat3-100x150.png 100w, https://f-droid.org/wp-content/uploads/2010/09/bookcat3.png 320w" title="bookcat3" width="200"/></a></p>
<p>Once you have some books in there, you can view and sort the data in various ways, but some of the basic features you might expect aren’t there (yet) – you can’t search, for example. On the other hand, there are some quite advanced features you might not expect, such as keeping track of loans, and the very nice ability to completely remove any fields you don’t use from the views.</p>
<p>Book Catalogue can export all your data into a CSV file on your SD card, which is easy to read and work with, and can also import data in the same format.</p>
<p>All in all there is room for improvement, and a lot of features that could be added, but Book Catalogue is a very solid and reliable application which is updated regularly. All you need to do is figure out <i>why</i> you’d want to catalogue all your books. Or, like me, just get on with it, and worry about that later.</p>
<h3>Vital Statistics</h3>
<ul>
<li>License: GPL v3</li>
<li>Developer: Evan Leybourn</li>
<li>Web Site: <a href="http://github.com/eleybourn/Book-Catalogue/wiki">http://github.com/eleybourn/Book-Catalogue/wiki</a></li>
</ul>
</div>