---
layout: post
title: "StatusNet Mobile"
author: "F-Droid"
---

<div class="post-entry">
<p><a href="https://f-droid.org/wp-content/uploads/2010/10/statusnetmobile.png"><img alt="" class="alignright size-medium wp-image-226" height="300" sizes="(max-width: 200px) 100vw, 200px" src="https://f-droid.org/wp-content/uploads/2010/10/statusnetmobile-200x300.png" srcset="https://f-droid.org/wp-content/uploads/2010/10/statusnetmobile-200x300.png 200w, https://f-droid.org/wp-content/uploads/2010/10/statusnetmobile-100x150.png 100w, https://f-droid.org/wp-content/uploads/2010/10/statusnetmobile.png 320w" title="StatusNet Mobile" width="200"/></a></p>
<p>This is the official client for StatusNet microblogs, including the popular Identi.ca.</p>
<p>On one hand I expected great things from this, because it comes direct from StatusNet’s excellent development team. On the other, I had grave reservations when I heard it was being developed using <a href="http://www.appcelerator.com/">Appcelerator Titanium</a>. When it came to it, I decided I was right on both counts.</p>
<p><span id="more-224"></span></p>
<p>It’s a very slick and well designed application that does everything it sets out to. Although not as feature-rich as established clients like Mustard, it isn’t missing a great deal, which is good considering how new it is.</p>
<p>The main downside is, as I expected, the Appcelerator thing. Appcelerator is a major win from the developer’s perspective, as they can write the application once and have it run on many platforms. From the user’s side though, you get something that isn’t designed for your platform. Consequently, StatusNet Mobile’s interface is very non-Androidy, which I found very off-putting. Others might like it though, who knows? You might even particularly like it because you can get a client from StatusNet, with pretty much the same functionality, across several different mobile AND desktop platforms.</p>
<p>I also found it to be quite sluggish in operation, and in particular slow to start up. I instinctively want to blame Appcelerator for this too, but with no facts to base that on, I won’t.</p>
<p>The lack of support for Android 1.5 is also worth noting – this is a big problem for many Android users, and seems totally unnecessary based on what the application is actually doing.</p>
<p>If you’ve come away from the above with the impression of lots of negative points, that would be unfair. This is a great client, especially for one so young, and it’s definitely worth a try to see if you like it. Personally though, I prefer <a href="http://mustard.macro.org">Mustard</a> at this point in time.</p>
<p>.</p>
<h3>Vital Statistics</h3>
<div class="wp-caption alignright" id="attachment_225" style="width: 130px"><a href="market://search?q=pname:net.status.client.mobile"><img alt="market://search?q=pname:net.status.client.mobile" class="size-full wp-image-225" height="120" src="https://f-droid.org/wp-content/uploads/2010/10/statusnet_qr.png" title="StatusNet Mobile Market QR" width="120"/></a><p class="wp-caption-text">Market QR Code</p></div>
<ul>
<li>License: Apache</li>
<li>Compatibility: Android 1.6 or later</li>
<li>Developer: StatusNet, Inc.</li>
<li>Web Site: <a href="http://status.net/wiki/Client">http://status.net/wiki/Client</a></li>
<li>Source Code: <a href="http://www.gitorious.org/statusnet-client">http://www.gitorious.org/statusnet-client</a></li>
</ul>
</div>