---
layout: post
title: "gvSIG Mini"
author: "F-Droid"
---

<div class="post-entry">
<p><a href="https://f-droid.org/wp-content/uploads/2010/09/gvsig_osm.png"><img alt="" class="alignright size-medium wp-image-186" height="300" sizes="(max-width: 200px) 100vw, 200px" src="https://f-droid.org/wp-content/uploads/2010/09/gvsig_osm-200x300.png" srcset="https://f-droid.org/wp-content/uploads/2010/09/gvsig_osm-200x300.png 200w, https://f-droid.org/wp-content/uploads/2010/09/gvsig_osm-100x150.png 100w, https://f-droid.org/wp-content/uploads/2010/09/gvsig_osm.png 320w" title="gvsig_osm" width="200"/></a></p>
<p>There are plenty of options for mapping on Android, including the virtually ubiquitous Google Maps. However, none of them are even in the same league as gvSIG Mini.</p>
<p>One of the main things that sets this app apart from the competition is that it’s a generic viewer, rather than being tied to a specific map provider, or a particular company’s commercial interests. Any tile map source can be used, either in online or offline modes.</p>
<p><span id="more-25"></span></p>
<p>Online mode involves reading tiles from the server as you go, which is fine if you have a good connection. Offline mode uses tiles cached on the SD card, or even pre-downloaded before a trip. You can achieve this pre-downloading using the gvSIG desktop app (also FOSS) along with the Phone Cache plugin (yes, FOSS too).</p>
<p>A wide range of tile map services (or layers) are configured in the app by default, but additional ones can be added as required. Amongst the preloaded layers are:</p>
<ul>
<li>OpenStreetMap (various renderings)</li>
<li>Google, Yahoo, Microsoft map/satellite</li>
<li>Ordnance Survey</li>
<li>Specialist maps, such as geological data</li>
</ul>
<p><a href="https://f-droid.org/wp-content/uploads/2010/09/gvsig_ord.png"><img alt="" class="alignright size-thumbnail wp-image-184" height="150" src="https://f-droid.org/wp-content/uploads/2010/09/gvsig_ord-150x150.png" title="gvsig_ord" width="150"/></a></p>
<p>The ability to access all these different maps makes gvSIG the only choice for many uses. If you’re in the UK, for example, and venture away from roads, you have little option but to use the Ordnance Survey maps, and gvSIG is the only sensible option for that. Yet the same time, you have the ability to instantly switch to other sources such as OpenStreetMap or satellite. For this, and many other purposes, this is the best (or indeed only) application for the job.</p>
<p>There are a whole load of other features I haven’t even mentioned, but if you aren’t ready to try it for yourself by now you probably never will be.</p>
<p><a href="https://f-droid.org/wp-content/uploads/2010/09/gvsig_geo.png"><img alt="" class="alignright size-thumbnail wp-image-183" height="150" src="https://f-droid.org/wp-content/uploads/2010/09/gvsig_geo-150x150.png" title="gvsig_geo" width="150"/></a></p>
<p><a href="https://f-droid.org/wp-content/uploads/2010/09/gvsig_ord2.png"><img alt="" class="alignright size-thumbnail wp-image-185" height="150" src="https://f-droid.org/wp-content/uploads/2010/09/gvsig_ord2-150x150.png" title="gvsig_ord2" width="150"/></a></p>
<p><a href="https://f-droid.org/wp-content/uploads/2010/09/gvsig_sat.png"><img alt="" class="alignright size-thumbnail wp-image-187" height="150" src="https://f-droid.org/wp-content/uploads/2010/09/gvsig_sat-150x150.png" title="gvsig_sat" width="150"/></a></p>
<h3>Vital Statistics</h3>
<ul>
<li>License: GPL v2</li>
<li>Developer: <a href="http://www.prodevelop.es/en">Prodevelop</a></li>
<li>Web Site: <a href="https://confluence.prodevelop.es/display/GVMN/Home">https://confluence.prodevelop.es/display/GVMN/Home</a></li>
</ul>
</div>