---
layout: post
title: "FOSDEM Schedules"
author: "CiaranG"
---

<div class="post-entry">
<p><a href="https://f-droid.org/wp-content/uploads/2011/02/fosdem.png"><img alt="" class="alignright size-medium wp-image-397" height="300" sizes="(max-width: 200px) 100vw, 200px" src="https://f-droid.org/wp-content/uploads/2011/02/fosdem-200x300.png" srcset="https://f-droid.org/wp-content/uploads/2011/02/fosdem-200x300.png 200w, https://f-droid.org/wp-content/uploads/2011/02/fosdem-100x150.png 100w, https://f-droid.org/wp-content/uploads/2011/02/fosdem.png 320w" title="FOSDEM" width="200"/></a></p>
<p>It seemed like a shame that although there are two choices of FOSS application to keep track of the busy <a href="http://fosdem.org">FOSDEM</a> schedule on your phone, you were told, or indeed forced, to use proprietary software to get your hands on them. Well no more – they’re both in the repository now.</p>
<h3>FOSDEM</h3>
<p>Option one is the dedicated FOSDEM application, as seen in the first screenshot.</p>
<p>On my device, this had quite a few visual flaws – half chopped off text in the lists, and even in the main logo.</p>
<p>Also, a greyed-out button tells me I need to press a ‘Search’ hardware button I don’t have in order to search Hint: the <a href="http://developer.android.com/guide/topics/search/search-dialog.html">SDK docs</a> explain how to do search properly.</p>
<p>On the other hand, being a dedicated app it’s easier to use, packed with detailed information and works very well.</p>
<h3>Giggity</h3>
<p><a href="https://f-droid.org/wp-content/uploads/2011/02/giggity.png"><img alt="" class="alignright size-medium wp-image-398" height="300" sizes="(max-width: 200px) 100vw, 200px" src="https://f-droid.org/wp-content/uploads/2011/02/giggity-200x300.png" srcset="https://f-droid.org/wp-content/uploads/2011/02/giggity-200x300.png 200w, https://f-droid.org/wp-content/uploads/2011/02/giggity-100x150.png 100w, https://f-droid.org/wp-content/uploads/2011/02/giggity.png 320w" title="Giggity" width="200"/></a></p>
<p>Option two is Giggity, which is a more generic solution. Although it comes preloaded with the data for this year’s FOSDEM, it’s a generic schedule viewer that can load and display xcal/Pentabarf XML files for any kind of event.</p>
<p>This one could save you from having to have a different app for every conference you attend.</p>
<h3>Summary</h3>
<p>Both apps can remind you of upcoming events you’ve favourited. Each application has its strengths and weaknesses – maybe you should grab both to be on the safe side. Search for ‘FOSDEM’ in the FDroid client, or get the APKs direct from <a href="https://f-droid.org/repository/browse/?fdid=org.fosdem">here</a> and <a href="https://f-droid.org/repository/browse/?fdid=net.gaast.giggity">here</a>.</p>
</div>