---
layout: post
title: "Sokoban"
author: "F-Droid"
---

<div class="post-entry">
<p><a href="https://f-droid.org/wp-content/uploads/2011/01/sokoban.png"><img alt="" class="alignright size-medium wp-image-354" height="300" sizes="(max-width: 200px) 100vw, 200px" src="https://f-droid.org/wp-content/uploads/2011/01/sokoban-200x300.png" srcset="https://f-droid.org/wp-content/uploads/2011/01/sokoban-200x300.png 200w, https://f-droid.org/wp-content/uploads/2011/01/sokoban-100x150.png 100w, https://f-droid.org/wp-content/uploads/2011/01/sokoban.png 320w" title="Sokoban screenshot" width="200"/></a></p>
<p>No prizes for guessing that Sokoban is an implementation of the classic game Sokoban. Unless you’ve never heard of it of course. I’ll assume that’s the case, otherwise this would be a very short review.</p>
<p>Sokoban is 30 years old, and is a puzzle game that involves moving your character around and pushing multiple things onto targets. Originally the things were boxes (Sokoban is Japanese for warehouse man) but in this version they’re some kind of shiny red gem. Sounds simple? The tricky part is that these things get in each others way, and your way. In practice, it’s hard, and in the process of completing the first 67 levels I’ve declared many of them impossible and closed the application in disgust before going back and trying again later. Clearly it’s addictive too.</p>
<p>This version has a total of 354 levels to play through – the only question is whether you can complete that many without either frying your brain or smashing up your phone.</p>
<p>The graphics are nothing to write home about, and the menu screens are particularly sparse (standard Android buttons and nothing else) but this doesn’t matter at all. The game plays perfectly, with nice touches such as zooming in and out with the volume buttons, and undoing a move with the back button. You can move with the direction buttons/pad/whatever-new-fangled-thing-your-phone-has but it seems much easier to use the other option of just dragging your finger around the screen.</p>
<p>Definitely give this one a try if you like puzzle games.</p>
<p></p><h3>Vital Statistics</h3>
<ul>
<li>License: GPL</li>
<li>Web Site: <a href="http://mobilepearls.com">http://mobilepearls.com</a></li>
<li>Issue Tracker: <a href="https://github.com/mobilepearls/com.mobilepearls.sokoban/issues">https://github.com/mobilepearls/com.mobilepearls.sokoban/issues</a></li>
<li>Source Code: <a href="https://github.com/mobilepearls/com.mobilepearls.sokoban">https://github.com/mobilepearls/com.mobilepearls.sokoban</a></li>
</ul>
<p>You can install it from the <a href="https://f-droid.org/repository/">FDroid repository</a> client, or <a href="https://f-droid.org/repository/browse/?fdid=com.mobilepearls.sokoban">download</a> the APK directly if you prefer.</p>
</div>