---
layout: post
title: "Repository Client 0.21"
author: "F-Droid"
---

<div class="post-entry">
<p>The latest release of the FDroid Repository Client, version 0.21, is now available. You can get it from the <a href="https://f-droid.org/repository">repository page</a> or, if you already have an earlier version installed, just update.</p>
<p>The main changes since the <a href="../repository-client-0-20/index.html">previous  release</a> are:</p>
<ul>
<li>Donate option – for applications where we have a link to a donate page, hitting ‘Donate’ from the menu on the application’s page in the client will take you straight there. You’ve been able to do this when browsing on the web site for a while, but now it’s available direct from the client too. If you’re an application developer accepting donations and we don’t have a donate link for your application yet, please let us know.</li>
<li>The application list now shows the build type for each package (APK, or version) available. This can either be ‘source’ or ‘bin’. Source means it is built automatically from the source repository and signed by the FDroid build server. It’s a guarantee that the source is actually available, and matches the binary file you’re installing. For this build type, you can also download a source tarball from the web site, which is ‘normalised’ such that simply downloading it and running ‘ant release’ should always work. Bin means it’s a binary file released by the original developer of the application and signed by them. Note that due to the signatures, switching from one type to another requires you to uninstall the old version first. There will be more detail about signatures and related issues in a forthcoming blog post here.</li>
<li>For Galaxy S devices, and possibly others, there is a major performance improvement when updating the repository index from the server.</li>
</ul>
<p>If you have problems or feature requests, talk to the <a href="https://f-droid.org/repository/issues">issue tracker</a> or visit #fdroid on FreeNode.</p>
</div>