---
layout: post
title: "Andor’s Trail"
author: "F-Droid"
---

<div class="post-entry">
<p><a href="https://f-droid.org/wp-content/uploads/2011/11/andor.png"><img alt="" class="alignright size-medium wp-image-938" height="300" sizes="(max-width: 180px) 100vw, 180px" src="https://f-droid.org/wp-content/uploads/2011/11/andor-180x300.png" srcset="https://f-droid.org/wp-content/uploads/2011/11/andor-180x300.png 180w, https://f-droid.org/wp-content/uploads/2011/11/andor-90x150.png 90w, https://f-droid.org/wp-content/uploads/2011/11/andor.png 480w" title="Andor's Trail" width="180"/></a></p>
<p>Andor’s Trail is a classic RPG. Your brother, the Andor of the title, has disappeared, and via a series of interlinked quests your job is to find out what’s happened to him.</p>
<p>The action takes place on a tiled top-down map, which although not complete yet, covers a very large area with a wide variety of environments. The world is populated by various humans to help and hinder you in your quests, and the obligatory range of wild animals and mythical beasts, all of which deliver up the usual combination of gold, experience and dropped objects when killed via combat in the classic turn-based stats-driven style.</p>
<p><span id="more-937"></span></p>
<p>The conversation system works really well, and provides the means by which all the quests are driven. The dialogue can seem rather strange at times, but once you get used to the idea of wizened old wizards talking in the style of a grumpy American teenager, it’s not a big problem.</p>
<p><a href="https://f-droid.org/wp-content/uploads/2011/11/andor_conv.png"><img alt="" class="alignright size-medium wp-image-939" height="300" sizes="(max-width: 180px) 100vw, 180px" src="https://f-droid.org/wp-content/uploads/2011/11/andor_conv-180x300.png" srcset="https://f-droid.org/wp-content/uploads/2011/11/andor_conv-180x300.png 180w, https://f-droid.org/wp-content/uploads/2011/11/andor_conv-90x150.png 90w, https://f-droid.org/wp-content/uploads/2011/11/andor_conv.png 480w" title="Andor's Trail Conversation" width="180"/></a></p>
<p>If you have any interest at all in this style of game, you’ll find a vast amount of gameplay here already, with a lot more to come as time goes on. Although this is definitely a work in progress, in terms of the map and quests being expanded, everything that already exists is very polished and not at all buggy.</p>
<p>Additionally, the availability of various editing tools for the maps and quest systems means it would be easy to get involved with the building of the world.</p>
<h3>Vital Statistics</h3>
<ul>
<li>License: GPL</li>
<li>Web Site: <a href="http://andors.techby2guys.com/">http://andors.techby2guys.com/</a></li>
<li>Source Code: <a href="http://code.google.com/p/andors-trail/">http://code.google.com/p/andors-trail/</a></li>
</ul>
<p>You can install it from the <a href="https://f-droid.org/repository/">FDroid repository</a> client, or <a href="https://f-droid.org/repository/browse/?fdid=com.gpl.rpg.AndorsTrail">download</a> the APK directly if you prefer.</p>
</div>