---
layout: post
title: "Repository Client 0.23"
author: "F-Droid"
---

<div class="post-entry">
<p><a href="https://f-droid.org/wp-content/uploads/2011/11/cats.png"><img alt="" class="alignright size-medium wp-image-932" height="300" sizes="(max-width: 180px) 100vw, 180px" src="https://f-droid.org/wp-content/uploads/2011/11/cats-180x300.png" srcset="https://f-droid.org/wp-content/uploads/2011/11/cats-180x300.png 180w, https://f-droid.org/wp-content/uploads/2011/11/cats-90x150.png 90w, https://f-droid.org/wp-content/uploads/2011/11/cats.png 480w" title="Now With Categories" width="180"/></a></p>
<p>The latest release of the FDroid Repository Client, version 0.23, is now available. You can get it from the repository page or, if you already have an earlier version installed, just update.</p>
<p>The main changes in this release are:</p>
<ul>
<li>Categories – a filter at the top of the main screen now allows you to filter the current list by category of application.</li>
<li>New ‘Dependencies’ anti-feature – on the preferences screen you can choose to filter out applications that have dependencies on non-free software.</li>
<li>Various translation updates, and several new languages.</li>
</ul>
<p>If you have problems or feature requests, talk to the <a href="https://f-droid.org/repository/issues">issue tracker</a> or visit #fdroid on FreeNode.</p>
</div>