---
layout: post
title: "Repository Client 0.17"
author: "F-Droid"
---

<div class="post-entry">
<p>The latest release of the FDroid Repository Client, version 0.17, is now available. You can get it from the <a href="https://f-droid.org/repository">repository page</a> or, if you already have an earlier version installed, just update.</p>
<p>The main changes since the previous version are:</p>
<ul>
<li>Search – this has started to become an essential feature as the repository grows. Use the Search option on the menu on the main screen to search for applications.</li>
<li>The Updates tab now shows the number of updates available on the tab itself.</li>
<li>Various minor bug fixes and improvements.</li>
<li>A warning if you attempt to install an application with a different signature to the version you already have installed. (This will be explained fully in an upcoming post about signatures).</li>
<li>Settings, disabled by default, to allow the client to show applications with various types of ‘antifeatures’ – for example, applications that include adverts. There are no such applications in the repository currently, but this would allow us, or someone else, to include them in a repository later, while still allowing you to opt in to seeing them.</li>
<li>New languages – French and Swedish. As the application is developing rapidly, the translations may lag behind on new features for a while. If you want to help translate into your language, see <a href="https://f-droid.org/translate">here</a>.</li>
</ul>
<p>If you have problems or feature requests, talk to the <a href="https://f-droid.org/repository/issues">issue tracker</a> or visit #fdroid on FreeNode.</p>
</div>