---
layout: post
title: "Repository Client 0.22"
author: "F-Droid"
---

<div class="post-entry">
<p>The latest release of the FDroid Repository Client, version 0.22, is now available. You can get it from the <a href="https://f-droid.org/repository">repository page</a> or, if you already have an earlier version installed, just update.</p>
<p>This release contains numerous minor fixes and user interface improvements, but the main changes since the <a href="../repository-client-0-21/index.html">previous  release</a> are:</p>
<ul>
<li>Applications that are incompatible with your device (e.g. requiring a different Android version, or hardware you don’t have) can now be filtered from the lists.</li>
<li>Applications that require root privileges can be filtered from the lists.</li>
<li>Various translation updates.</li>
</ul>
<p>If you have problems or feature requests, talk to the <a href="https://f-droid.org/repository/issues">issue tracker</a> or visit #fdroid on FreeNode.</p>
</div>