---
layout: post
title: "Client 0.31 Released"
author: "CiaranG"
---

<div class="post-entry">
<p>The latest release of the FDroid Repository Client, version 0.31, is now available. You can get it from the repository page or, if you already have an earlier version installed, just update.</p>
<p>Changed since 0.28:</p>
<ul>
<li>Fixed a bug in the French translation that caused a crash if a search returned only one result.</li>
<li>Improved large screen support, resolving problems such as bad menu positioning.</li>
<li>Fixed an overlap of the list onto the tabs in the main screen, on larger screens.</li>
<li>Improved the background index update mechanism, resolving several minor problems, and occasional issues such as crashes when putting the app in the background during an update. Additionally, user-initiated updates can now be cancelled.</li>
</ul>
<p>As usual, if you have problems or feature requests, talk to the <a href="https://f-droid.org/repository/issues">issue tracker</a>, join us in the <a href="https://f-droid.org/forums">Forum</a> or visit #fdroid on FreeNode.</p>
</div>