---
layout: post
title: "Repository Client 0.25"
author: "F-Droid"
---

<div class="post-entry">
<p>The latest release of the FDroid Repository Client, version 0.25, is now available. You can get it from the repository page or, if you already have an earlier version installed, just update.</p>
<p>This is a minor update release, with lots of translation updates and various small user interface improvements.</p>
<p>As usual, if you have problems or feature requests, talk to the <a href="https://f-droid.org/repository/issues">issue tracker</a>, join us in the <a href="https://f-droid.org/forums">Forum</a> or visit #fdroid on FreeNode.</p>
</div>