---
layout: post
title: "Client 0.38 Released"
author: "CiaranG"
---

<div class="post-entry">
<p>The latest release of the FDroid Repository Client, version 0.38, is now available. You can download it from the home page or, if you already have an earlier version installed, just update.</p>
<p>Changed since 0.33:</p>
<ul>
<li>Enhanced descriptions, including better formatting possibilities, external links, and direct links between apps.</li>
<li>More performance improvements for low-end devices.</li>
<li>Removed erroneous ‘touchscreen’ feature requirement – F-Droid doesn’t require one.</li>
<li>Added a preference to ignore touchscreen requirement when determining compatibility, because a huge number of apps state this requirement when they don’t need one.</li>
<li>Resolved the problem of the list of versions being inaccessible when the description was very long.</li>
<li>Various improvements to the main list interface. In particular, the category selection now only applies to the Available list, not Installed or Updates, and the Available list no longer excludes installed apps.</li>
<li>Apps excluded due to incompatibility or anti-feature selection will now still appear if already installed, and will case update notifications.</li>
<li>Stopped cancelling downloads/updates when touching outside the progress dialog on ICS.</li>
<li>Fixed a crash introduced in 0.33, when rotating while on the app details screen.</li>
<li>The What’s New and Recently Updated categories now show the most recent items first.</li>
<li>What’s New is now the default category on starting the app.</li>
<li>Various translation updates.</li>
<li>Additional features in Expert Mode (e.g. display of package IDs).</li>
</ul>
<p>As usual, if you have problems or feature requests, talk to the <a href="https://f-droid.org/repository/issues">issue tracker</a>, join us in the <a href="https://f-droid.org/forums">Forum</a> or visit #fdroid on FreeNode.</p>
</div>