---
layout: post
title: "Client 0.42 Released"
author: "CiaranG"
---

<div class="post-entry">
<p>The latest release of the F-Droid Repository Client, version 0.42, is now available. You can download it from the home page or, if you already have an earlier version installed, just update.</p>
<p>Main changes since 0.38:</p>
<ul>
<li>New option to launch installed applications directly from the client.</li>
<li>Improved repository update checking performance. (Including etag support)</li>
<li>Fixed crashes when searching with 0 or 1 results in some languages (e.g. Italian)</li>
<li>Lots of translation updates, and some new languages.</li>
</ul>
<p>As usual, if you have problems or feature requests, talk to the <a href="https://f-droid.org/repository/issues">issue tracker</a>, join us in the <a href="https://f-droid.org/forums">Forum</a> or visit #fdroid on FreeNode.</p>
</div>